<?xml version="1.0"?>
<model>
  <name>sc3_staging_15</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Viraj Parimi</name>
    <email>vparimi@mit.edu</email>
  </author>
  
  <description>
    A model of the SC3 Staging 15 scene from Replicad dataset
  </description>
</model>
